@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


.Container {
  display: flex;
  flex-direction: column;
}

/* ========== NAV ========== */
nav {
  color: white;
}

.list-nav {
  color: white;
  text-decoration: none;
  list-style: none;
  position: relative;
  padding-bottom: 5px;
}

.list-nav:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: transparent;
  transition: background 0.3s ease, width 0.3s ease;
}

.list-nav:hover:before {
  background: white;
  width: 100%;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.list-navbar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
  transition: transform 0.3s ease, z-index 0.3s ease;
}

.button-navbar {
  padding: 0.3rem 0.5rem;
  background-color: white;
  color: black;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  cursor: pointer;
  position: relative;
  z-index: 0;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.button-navbar:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 5px;
}

.button-navbar:active {
  color: #000;
}

.button-navbar:active:after {
  background: transparent;
}

.button-navbar:hover:before {
  opacity: 1;
}

.button-navbar:hover {
  background-color: black;
  color: white;
  transition: .5s ease-in-out;
}

.button-navbar:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 5px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}





/* ========================= */
/* ========== Home ========== */
#Home {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#background-home {
  width: 99%;
  height: 87vh;
  border-radius: 15px;
  background-image: url('./svg/images.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.buttons-home {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.text-home {
  color: white;
  font-size: 35px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  width: 53ch;
}

.texttwo-home {
  color: rgb(163, 163, 163);
  font-size: 15px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.buttons-home {
  padding-top: 2rem;
}

.button-comecar {
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  background-color: white;
  transition: all 1s;
}

.button-saber {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.8rem 2rem;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  transition: all 1s;
}

.button-saber:hover,
.button-comecar:hover {
  transform: scale(1.02);
}

.button-navbar:hover {
  cursor: pointer;
  transform: scale(1.05);
  /* Mantém a animação distinta para este botão */
}

/* ========================= */
/* ========== Sobrenos ========== */
.sobresos {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
}

.sobrenos-text {
  width: 89%;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  background-color: black;
}

.propgam {
  height: 500px;
  border-radius: 15px;
}

.tittle-propgam {
  padding: 20px 0px 3rem 0px;
}

.text-propgam {
  color: white;
  font-size: 35px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.icon-quality {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.quality-propgam {
  color: white;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.text-quality {
  color: rgb(163, 163, 163);
  font-size: 17px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 15px;
}

.quality {
  gap: 1rem;
}

/* ========================= */
/* ========== Sobrenos ========== */

.visaogeral {
  padding-top: 3rem;
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 99%;
}

.large-box {
  border: solid 1px #0e0f12;
  background-color: rgba(10, 10, 10, 0.5);
  width: 100%;
  height: 100;
  border-radius: 15px;

}

.title-large {
  color: white;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

}

.two-lager {
  padding: 25px;
}

.text-large {
  color: rgb(163, 163, 163);
  font-size: 13px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.row {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.small-box {
  display: flex;
  color: white;
  border: solid 1px #0e0f12;
  background-color: rgba(10, 10, 10, 0.5);
  width: 50%;
  border-radius: 15px;
  height: 130px;
}

.text-smallbox {
  display: flex;
  gap: 1rem;
  padding: 15px;
  flex-direction: column;
  align-items: flex-start;
}

.tittle-smallbox {
  color: white;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.texto-small {
  color: rgb(163, 163, 163);
  font-size: 13px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.visaogeral-container {
  width: 89%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: black;
}

.tittle-visaogeral {
  color: white;
  font-size: 35px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 2rem;
}

.swiper-container {
  position: relative;
  height: 70px;
}

.swiper-container {
  position: relative;
}

.swiper-container::before,
.swiper-container::after {
  content: '';
  position: absolute;
  top: 0;
  width: 20%;
  /* Ajuste a largura da máscara conforme necessário */
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 10;
}

.swiper-container::before {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.swiper-container::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.carousel-item {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  height: 50px;
}

.item-large {
  padding: 1rem 2rem;

}

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.track {
  display: flex;
  width: calc(150px * 15);
  /* Ajustar para a largura total dos elementos clonados */
  animation: slide 40s linear infinite;
}

.track-two {
  display: flex;
  width: calc(150px* 15);
  /* Ajuste para a largura total dos elementos clonados */
  animation: slidetwo 40s linear infinite;
}

.element {
  width: 50px;
  padding: 10px 25px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

/* Define a animação de slide */
@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-40%);
    /* Ajustar para metade da largura da track */
  }
}

@keyframes slidetwo {
  0% {
    transform: translateX(-40%);
  }

  100% {
    transform: translateX(0%);
    /* Ajuste o valor para a largura total da track */
  }
}

#small-one {
  border-radius: 15px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-position: 30% 25%
}

#small-two {
  border-radius: 15px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-position: 50% 30%
}

/* ========================= */
/* ========== Sobrenos ========== */
#Portifolio {
  padding-top: 3rem;
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  object-fit: cover;
  width: 99%;

}

.portifolio-container {
  width: 89%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: black;
}

.portifolio-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.item-portifolio {
  width: 100%;
  border: solid 1px #0e0f12;
  border-radius: 15px;
  padding-bottom: 0.5rem;
}

.image-portifolio {
  width: 100%;
  /* Ocupa 100% da largura da tela */
  height: 340px;
  /* Altura desejada */
  object-fit: fill;
  border-radius: 15px 15px 0px 0px;
}

.tittle-portifolio {
  color: white;
  font-size: 35px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.subtittle-portifolio {
  color: white;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.text-porfiolio {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
}

.button-view {
  padding: 0.5rem 1.6rem;
  border: none;
  border-radius: 15px;
  box-shadow: 6px 6px 12px #0f0f0f, -6px -6px 12px #0f0f0f;
  transition: transform 0.5s ease;
}

.button-view:hover {
  transform: scale(1.02);
}

#Qualidade {
  display: flex;
  align-items: center;
  justify-content: center;
}

#Formulario {
  padding-top: 3rem;
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 99%;
}

.formulario--main {
  width: 89%;
  height: 85vh;
  display: flex;
  border-radius: 15px;
  background-image: url('./svg/WfZf3UaSuBa4dHRJjWVoBEzc8.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  gap: 1.8rem;
}

.text-formulario {
  color: white;
  font-size: 35px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.texttwo-formulario {
  color: rgb(231, 229, 229);
  font-size: 15px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.texts-form {
  width: 60%;
  gap: 1rem;
}



footer {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #010205;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.footer-logo img {
  height: 50px;
  margin-bottom: 1rem;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.footer-nav li {
  margin: 0;
}

.footer-nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.footer-social {
  text-align: center;
  margin-bottom: 1rem;
}

.footer-social p {
  margin: 0 0 0.5rem 0;
}

.footer-social ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.footer-social .social-icon {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-social .social-icon:hover {
  color: #1da1f2;
}

.footer-social .facebook:hover {
  color: #3b5998;
}

.footer-social .instagram:hover {
  color: #e4405f;
}

.footer-social .twitter:hover {
  color: #1da1f2;
}

.footer-bottom {
  text-align: center;
}

.footer-bottom p {
  margin: 0;
  font-size: 0.875rem;
}

@media (max-width: 768px) {

  .sobresos {}

  nav,
  #Home,
  #Beneficios,
  #Portifolio {
    display: none;
  }

  #Formulario {
    padding-top: 0px;
    padding-bottom: 5rem;
  }

  .small-box {
    height: 270px;
  }

  .text-formulario{
    font-size: 25px;
  }

  footer {
    padding: 0;
    margin: 0;
    align-items: center;
  }

  .footer-nav ul {
    gap: 0.5rem;
  }

  .footer-nav a {
    font-size: 0.875rem;
  }

  .footer-social ul {
    gap: 0.5rem;
  }

  .footer-social .social-icon {
    font-size: 1.25rem;
  }

  .footer-bottom p {
    font-size: 0.75rem;
  }
}